<td class='email-body' width='570' cellpadding='0' cellspacing='0'>
    <table
        class='email-body_inner'
        align='center'
        width='570'
        cellpadding='0'
        cellspacing='0'
        role='presentation'
    >
        <tr>
            <td class='content-cell'>
                <div>
                    <h1>Hello {{firstName}}!</h1>
                    {{#if isReset}}
                        <p>Click on the button to reset your password:</p>
                    {{else}}
                        <p>Click on the button to set your password:</p>
                    {{/if}}

                    <table
                        class='body-action'
                        align='center'
                        width='100%'
                        cellpadding='0'
                        cellspacing='0'
                        role='presentation'
                    >
                        <tr>
                            <td align='center'>
                                <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    role='presentation'
                                >
                                    <tr>
                                        <td align='center'>
                                            <a
                                                href='{{link}}'
                                                class='button button--blue white-text'
                                                target='_blank'
                                            >
                                                {{#if isReset}}
                                                    Reset password
                                                {{else}}
                                                    Set password
                                                {{/if}}
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table class='body-sub' role='presentation'>
                        <tr>
                            <td>
                                <p class='sub'>You can also copy and paste the
                                    url below into your browser:</p>
                                <p class='sub' align='center'>
                                    {{link}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</td>
